<ion-header>
  <ion-toolbar>
    <ion-title>Spécialités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let cat of categories" >
      <ion-avatar slot="start">
        <ion-img [src]="cat.image"></ion-img>
      </ion-avatar>
      <ion-label>{{cat.name}}</ion-label>
    </ion-item>
  </ion-list>



  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="/add-restaurant-category">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
